{% extends "selector/base.html" %}
{% load switch %}

{% block content %}

    <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
        <div>
            <h1>Albums</h1>


            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-0">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <span class="mdi mdi-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        albums
                    </li>
                </ol>
            </nav>

        </div>

        <div>
            <a href="/albums/new/" class="btn btn-primary">Add Album</a>

        </div>
    </div>

    <div class="row">
    <div class="col-12">

        <!-- Recent Order Table -->
        <div class="card card-table-border-none recent-orders" id="recent-orders">
            {#                <div class="card-header justify-content-between">#}
            {#                    <h2>Albums</h2>#}
            {#                </div>#}
            <div class="row row-cols-1 row-cols-md-4" style="padding: 10px">
                {% for album in albums %}
                    <div class="col mb-4">
                        <div class="card">
                            <a href="/albums/{{ album.id }}">

                                <img class="card-img-top"
                                     src="
                                             {{ album.get_last_picture.image.url|default:"https://via.placeholder.com/150" }}"
                                     alt="Card image cap">
                            </a>


                            <div class="card-body">
                                <div class="dropdown show" style="float: right">
                                    <a class="" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical" style="float: right;font-size: 24px"></i>

                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
                                         style="float: right">
                                        <a class="dropdown-item" href="/albums/{{ album.id }}">View</a>
                                        {% if user in album.admins.all  %}
                                            <a class="dropdown-item" href="/albums/{{ album.id }}/update">Edit</a>
                                            <a class="dropdown-item" href="/albums/{{ album.id }}/delete">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>

                                <a href="/albums/{{ album.id }}">
                                    <h5 class="card-title text-primary">{{ album.name }}</h5>
                                </a>
                                <div class="text-muted">Next
                                    update: {{ album.current_picture_valid_until|date:"F j, Y, G:i"|default:"unknown" }}

                                </div>


                            </div>

                        </div>
                    </div>


                    {% empty %}
                    <div class="col mb-4">
                        No albums
                    </div>

                {% endfor %}
            </div>
            <div class="col mb-4">

            </div>

        </div>
    </div>






{% endblock %}

{% block scripts %}

{% endblock %}


